<!-- Menu Section -->
<section class="container py-5" id="menu">
    <h2 class="menu">Our Menu</h2>
    <div class="row">
        <div class="col-md-6">
            <div class="menu-item">
                <h3>Example</h3>
                <p>Description</p>
                <span>$0</span>
            </div>
            <div class="menu-item">
                <h3>Example</h3>
                <p>Description</p>
                <span>$0</span>
            </div>
        </div>
        <div class="col-md-6">
            <div class="menu-item">
                <h3>Example</h3>
                <p>Description</p>
                <span>$0</span>
            </div>
            <div class="menu-item">
                <h3>Example</h3>
                <p>Description</p>
                <span>$0</span>
            </div>
        </div>
    </div>
</section>