<!-- Facebook integration -->
<!-- Code For Facebook Plugin -->
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v22.0&appId=1700788477314574"></script>

<!-- Facebook Posts -->
<p class="faceBook">Facebook Posts</p>

<div style="width: 100%; text-align: center;">
    <div class="fb-page" 
        data-href="https://www.facebook.com/p/Taste-of-Italy-Deli-Caff%C3%A8-100092223423719/"  
        data-tabs="timeline" 
        data-width="1200" 
        data-height="750" 
        data-small-header="true" 
        data-adapt-container-width="false" 
        data-hide-cover="false" 
        data-show-facepile="true"
        style="display: inline-block; max-width: 100%;">
        <blockquote cite="https://www.facebook.com/p/Taste-of-Italy-Deli-Caff%C3%A8-100092223423719/" class="fb-xfbml-parse-ignore">
        <a href="https://www.facebook.com/p/Taste-of-Italy-Deli-Caff%C3%A8-100092223423719/">Taste of Italy • Deli &amp; Caffè</a></blockquote>
    </div>
</div>